uid = sync
gid = sync
use chroot = no
max connections = 4
syslog facility = local5
pid file = /run/rsyncd.pid

[x86_64]
    path         = /home/sync/pacman/x86_64
    include      = **
    read only    = false

[aarch64]
    path         = /home/sync/pacman/aarch64
    include      = **
    read only    = false

