[Unit]
Description=Run mcpo server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=uvx mcpo --config /home/webui/config.json
ExecStop=/bin/kill ${MAINPID}
RemainAfterExit=yes

