[Unit]
Description=Run mcpo server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=uvx mcpo --config /home/webui/config.json
Restart=on-failure
RestartSec=5s
User=webui
Group=webui

[Install]
WantedBy=multi-user.target

